<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656826429679-0eunvma3n84fc6d8qb6gor0h94rhp0ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656826429679-0eunvma3n84fc6d8qb6gor0h94rhp0ug</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ-vU7t4RnvJ2azF1h_6ZlOUNcLN2D-BA</string>
	<key>GCM_SENDER_ID</key>
	<string>656826429679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyeonsu.iDC-Project-basic</string>
	<key>PROJECT_ID</key>
	<string>idc-project-91ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>idc-project-91ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:656826429679:ios:e68955bb046c9376a9ab1a</string>
</dict>
</plist>
